body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.main-card {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 20px;
    background-color: white;

    width: max(30vw,400px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
}